<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace必须与UserMapper接口全类名一致(UserMapper与xml文件关联的核心) -->
<mapper namespace="com.news.backendproject.mapper.UserMapper">

    <!--  新增用户（对应addUser） -->
    <insert id="addUser" parameterType="com.news.backendproject.dto.user.UserRegisterDto">
        INSERT INTO user(username, password, email,status)
        VALUES(#{username}, #{password}, #{email},1)
    </insert>

    <!--  验证用户是否已经存在 -->
    <select id="verifyUserExistence" parameterType="String" resultType="Integer">
        SELECT EXISTS(
        SELECT 1 FROM user WHERE username = #{username} AND status = 1
        ) AS exist_flag
    </select>

    <!-- 验证邮箱是否已经被绑定(找回密码使用) -->
    <select id="verifyEmailExistenceForgot" parameterType="String" resultType="Integer">
        SELECT EXISTS(
        SELECT 1 FROM user WHERE email = #{email} AND username=#{username} AND status = 1
        ) AS exist_flag
    </select>

    <!-- 验证邮箱是否已经被绑定(注册使用) -->
    <select id="verifyEmailExistenceRegister" parameterType="String" resultType="Integer">
        SELECT EXISTS(
        SELECT 1 FROM user WHERE email = #{email} AND status = 1
        ) AS exist_flag
    </select>

    <!--  验证用户名和密码 -->
    <select id="verifyUserPassword" resultType="Integer">
        SELECT 1 FROM user WHERE username = #{username} AND password = #{password} AND status = 1
    </select>

    <!--  查询用户信息 -->
    <!-- 结果映射：处理数据库字段与实体属性的映射（如birthday字段类型） -->
    <resultMap id="UserResultMap" type="com.news.backendproject.po.User">
        <result column="username" property="username"/>
        <result column="email" property="email"/>
        <result column="gender" property="gender"/>
        <result column="address" property="address"/>
        <result column="birthday" property="birthday"/>
    </resultMap>
    <select id="getUserInfor" parameterType="String" resultMap="UserResultMap">
        SELECT username,email, gender, address, birthday FROM user WHERE username = #{username}  AND status = 1
    </select>

    <!--  更新用户信息 -->
    <update id="updateBasicInforByUsernameAndEmail" parameterType="com.news.backendproject.po.User">
        UPDATE user
        SET gender = #{gender},
        birthday = #{birthday},
        address = #{address}
        WHERE username = #{username} AND status = 1
    </update>
    <!-- 更新用户密码 -->
    <update id="updatePasswordInforByUsernameAndEmail" parameterType="com.news.backendproject.po.User">
        UPDATE user
        SET password = #{password}
        WHERE username = #{username} AND email= #{email}  AND status = 1 ANd password !=#{password};
    </update>
</mapper>